/**
* Liquid glass themed Element UI variables
**/

/* theme color */
$--color-primary: #59b7ff;
$--color-success: #34d399;
$--color-warning: #fbbf24;
$--color-danger: #fb7185;

$--button-font-weight: 500;
$--border-radius-base: 14px;
$--border-radius-small: 12px;
$--border-radius-circle: 1000px;

$--border-color-light: rgba(255, 255, 255, 0.18);
$--border-color-lighter: rgba(255, 255, 255, 0.12);
$--table-border: 1px solid rgba(255, 255, 255, 0.12);

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

:export {
  theme: $--color-primary;
}
